<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Error</h1>
</body>
</html>

Tableau Public. (2023). Available at: https://public.tableau.com/
Microsoft Power BI. (2023). Available at: https://powerbi.microsoft.com/
Plotly.js Documentation. (2023). Available at: https://plotly.com/javascript/
Flask Documentation. (2023). Available at: https://flask.palletsprojects.com/
jsPDF Documentation. (2023). Available at: https://rawgit.com/MrRio/jsPDF/master/docs/
Pandas Documentation. (2023). Available at: https://pandas.pydata.org/pandas-docs/stable/
NumPy Documentation. (2023). Available at: https://numpy.org/doc/
Matplotlib Documentation. (2023). Available at: https://matplotlib.org/stable/contents.html
Seaborn Documentation. (2023). Available at: https://seaborn.pydata.org/
D3.js Documentation. (2023). Available at: https://d3js.org/