body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333333; /* Dark grey text */
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure header stays on top */
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

.container {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width:100%;
    margin: 80px auto; /* Ensure content is centered below fixed header */
    padding: 20px;
}

.section {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width:90vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

#plots-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between graphs */
}

.plot-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.graph-div {
    flex: 1; /* Make the graph div flexible */
    margin-right: 20px;
}

.summary-div {
    flex: 1; /* Make the summary div flexible */
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    overflow-y: auto; /* Ensure scroll if the text is long */
}

#generated-summary {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1.6;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

@media (max-width: 768px) {
    header {
        font-size: 0.9em;
    }
}

.section2 {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width:90vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: white; /* Background color to ensure content below doesn't show through */
    z-index: 1000; /* Ensure it stays above other content */
}

.hidden {
    display: none;
}
